{{ $img := resources.Get (.Get "res") }}
{{ $imgWebpX := $img.Resize "2048x webp q60" }}
{{ $imgWebp1 := $img.Resize "640x webp q50" }}
{{ $imgWebp2 := $img.Resize "1024x webp q50" }}
<!-- When you click on the image, a good-quality one pops up -->
<a href="{{ $imgWebpX.RelPermalink }}" target="_blank">
<picture>
  <!-- Only webp because it's 2022 -->
  <source srcset="{{ $imgWebp2.RelPermalink }}" type="image/webp" media="(min-width: 650px)">
  <source srcset="{{ $imgWebp1.RelPermalink }}" type="image/webp" media="(max-width: 650px)">
  <img src="{{ $imgWebp1.RelPermalink }}" alt="{{ .Get "alt" }}" loading="lazy">
</picture>
</a>
